<!--<app-page1 [param]="param"></app-page1>-->

<!--<app-login></app-login>-->
<!--<app-page1></app-page1>-->
<!--<app-page2></app-page2>-->
<!--<app-lazy></app-lazy>-->

<router-outlet *ngIf="count>=1"></router-outlet>

<div class="root">
    <div class="container">
        <button class="btn btn-alert" (click)="updateTitleInChild()">Change Detection Strategy {{count}}</button>
    </div>

    <div class="container">
        <button class="btn btn-alert" (click)="updateTitleInPage1ByGlobalCommunicationService()">Global Comm Service
            page-1 {{count}}</button>
    </div>

    <div class="container">
        <button class="btn btn-alert" (click)="updateTitleInLazyByGlobalCommunicationService()">Global Comm Service
            lazy {{count}}</button>
    </div>
</div>