.arrow{
    width: 24px;
    height: 24px;
    background: black;
    border-radius: 50%;
    color: white;
    display: inline-block;
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
    cursor:pointer;
}

div.container1{
    overflow:hidden;
    height:50px;
}

.open{
    animation: open .5s both;
}
.close{
    animation: close .5s both;
}

@keyframes open {
    0%   {height: 50px}
    100% {height: 200px}
}

@keyframes close {
    0%   {height: 200px}
    100% {height: 50px}
}