<app-navigation></app-navigation>
<main role="main" class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll,
      this navbar remains in its original position and moves with the rest of the page.</p>
    <a class="btn btn-lg btn-primary" href="http://www.jpleoleo.com" role="button">JPLEOLEO &raquo;</a>
  </div>
  <h3>Page visited count = {{globalDataService.data.pages.lazy1.visitCount}}</h3>
</main>
  <div class="container1" *ngFor="let item of data" [class.open]="openCloseStatus==='open' && allowAnim" [class.close]="openCloseStatus==='close' && allowAnim">
  <div class="alert alert-primary">{{item.title}}<span class="arrow" (click)="openClose($event)">&#8681;</span></div>&#8679;
  {{item.content}}
</div>