<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item ">
        <a class="nav-link" routerLink="/page-1" routerLinkActive="active" >Page-1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/page-2" routerLinkActive="active">Page-2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/lazy" routerLinkActive="active">Lazy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item logout">
        <a class="nav-link" (click)="logout()">Logout <span class="sr-only">(current)</span></a>
      </li>-->

      <li class="nav-item ">
        <a class="nav-link" (click)="navigateTo('page-1', $event)" [class.active]="currentPage==='page-1'">Page-1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" (click)="navigateTo('page-2', $event)" [class.active]="currentPage==='page-2'">Page-2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" (click)="navigateTo('lazy', $event)" [class.active]="currentPage==='lazy'">Lazy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" (click)="navigateTo('lazy-1', $event)" [class.active]="currentPage==='lazy-1'">Lazy-1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item logout">
        <a class="nav-link" (click)="logout()" routerLinkActive="active">Logout <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>